MONGODB_URI = 'mongodb://localhost:27017/'
MONGODB_DB = <your_db_name>
MONGODB_COLLECTION = <your_collection_name>
HUGGINGFACE_TOKEN = <your_huggingface_token>
EMBEDDING_MODEL = <your_embedding_model>
SIMILARITY_THRESHOLD = 0.45
LANGCHAIN_TRACING_V2 = 'true'
LANGCHAIN_ENDPOINT = 'https://api.smith.langchain.com'
LANGCHAIN_API_KEY = <your_langchain_api_key>